.topbar {
  position: relative; /* ou fixed se quiser fixa */
  top: 0;
  left: 0;

  width: 100%;
  height: var(--topbar-height); /* ALTURA FIXA */

  background-color: #b30000;
  z-index: 1000;

  display: flex;
  align-items: center;
}

.topbar {
  height: var(--topbar-height);
  background-color: #b30000;

  display: flex;
  align-items: center;
}

.topbar-inner {
  width: 100%;
  padding: 0 32px;

  display: flex;
  align-items: center;
}

.topbar-nav {
  margin-left: auto;
}

.topbar-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-logo img {
  margin-right: auto;

  height: var(--logo-height);
  cursor: pointer;
}

.topbar-nav {
  display: flex;
  gap: var(--menu-gap);
}

.topbar-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: var(---menu-font-size);
  font-weight: 500;
  white-space: nowrap;
  position: relative;
  padding: 4px 0;
}

/* Efeito hover discreto */
.topbar-nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.25s ease;
}

.topbar-nav a:hover::after {
  width: 100%;
}
